astro
.git
.env
airflow_settings.yaml
logs/
.venv
airflow.db
airflow.cfg
Makefile
book_store_db/
snowflake.sql
.vscode/
.mypy_cache/
docs/
broadcast_list.xml
dash_book_sales.pbix
dash_revenue_period.pbix